

.container{
    width: 700px;
    height: 700px;
    margin: 0 auto;
    border: solid black 5px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
.black{
    background-color: black;
}
.container > div{
    width: calc(100% / 16); /* the 16 here is x and needs to change*/
    height: calc(100% / 16);
}